<!--<h1>
  {{title}}
</h1>-->
<div class="row row-general-top">
  <div id="continer-general" class="col-lg-9 col-md-8 col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 text-lg-left text-md-left text-center characters-general-top">
          <h3 class="h3-characters">
            <img class="img-fluid" src="../assets/images/icons/characters.png" alt="MarvelComics" /><b>Characters</b>
          </h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-lg-left text-md-left text-center general-top">
          <select class="form-control">
              <option>Sort by</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-11 div-general-comics">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-center">
                  <img class="img-general rounded-circle" style="background-color: black" src="../assets/images/icons/characters.png" alt="MarvelComics"
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left text-lg-left text-md-left text-center">
                  <h5 class="h5-title-general">
                    <b>WILMER-MAN</b>
                  </h5>
                  <div class="text-general">
                    bitten by a radioactive spider, high school student peter parker gained de speed sthength and powers of a spider. Adopting
                    the name Spider-man, peter hoped to...
                  </div>
                  <div class="text-general">
                    <!--<input type="button" class="form-control button-general" value="VIEW MORE" />-->
                    <button class="form-control button-general">VIEW MORE</button>
                  </div>
                </div>
                <div class="text-color-top col-lg-12 col-md-12 col-12 text-lg-left text-md-left text-center">
                  <h5>
                    <b class="">Related comics</b>
                  </h5>
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-color-top col-lg-6 col-md-6 col-12 text-lg-left text-md-left text-left">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="continer-secundary" class="col-lg-3 col-md-4 col-12">

  </div>
</div>