<footer id="footer">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div id="grability-footer-text" class="col-lg-10 col-md-10 col-12 text-lg-left text-md-left text-center">
                    Grability 2017 - Todos los derechos reservados
                </div>
                <div class="col-lg-2 col-md-2 col-12 text-lg-left text-md-left text-center">
                    <img class="img-fluid" src="assets/images/logos/grability-logo-v01.png" alt="Grability" />
                </div>
            </div>
        </div>
    </div>
</footer>